<%= paginate rooms, theme: 'twitter-bootstrap-3' %>
<% rooms.each do |room| %>
  <div class="row" style="padding:5px; width: 100%;">
    <div class="card">
      <div class="row">
        <div class="col-4" style="display:block;">
          <% if room.images.size != 0 %>
            <%= link_to image_tag(room.images[0].thumb_url, class: "card-img-top", style: "width: 240px; height: 180px"), room_path(room) %>
          <% else %>
            <%= link_to image_tag("https://file4.batdongsan.com.vn/resize/745x510/2017/12/30/20171230092824-094c_wm.jpg", class: "card-img-top", style: "width: 240px; height: 180px"), room_path(room) %>
          <% end %>
        </div>
        <div class="col-8" style="padding: 5 10 10 0;">
          <div class="room-title"><%= room.title %>
          </div>
          <div class="room-price">
            <strong><%= room.price %></strong>
          </p>
          </div>
          <div class="room-info">
            <%= room.seller_name %> | <%= room.post_type %> | <%= room.address %>
          </div>

          <p>
            <div class="room-date row">
              <div class="col-sm-6">
                <strong>Ngày đăng tin:</strong>
                <%= room.begin_date.strftime("%d/%m/%Y") %>
              </div>
              <div class="col-sm-6">
                <strong>Ngày hết hạn:</strong>
                <%= room.expired_date.strftime("%d/%m/%Y") %>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
